window {
    background-color: #303030;
}

#app {
    margin: 40px;
}

#chess-board {
}

#chess-board .white {
    background-color: #6f256f;
}

#chess-board .black {
    background-color: #530e53;
}

#aside {
    background-color: #a66fa6;
}